* {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  font-size: 16px;
  margin: 0;
}
.dropdown {
  display: none;
}

body {
  margin: 0;
  height: auto;
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  row-gap: 2.5rem;
  align-items: center;
  font-family: "Poppins";
}
/* Header */
header {
  width: 90%;
  display: flex;
  height: auto;
  flex-direction: row;
  justify-content: space-between;
}
#title {
  width: auto;
  height: auto;
  font-family: "Heebo", sans-serif;
  font-size: 2.1rem;
  font-weight: 800;
}
.links:hover {
  font-weight: 800;
}
#section_links {
  width: 60%;
  font-size: 1.5rem;
  display: flex;
  justify-content: space-around;
}
.links {
  text-decoration: none;
  color: black;
  font-size: 1.5rem;
  font-style: normal;
}
#hamburger_menu {
  display: none;
}
/* contents container */
#container {
  width: 90%;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}

/* home section */
#home {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
}
#heroimage {
  width: 100%;
  border-radius: 1rem;
}
.home_contents {
  margin: 0 auto;
  margin-left: 10%;
  width: 35%;
}
#unhappy {
  color: aqua;
  font-size: 1.2rem;
}

#quest,
#tag {
  font-size: 3rem;
  font-weight: 500;
}
#promise {
  font-style: normal;
  font-weight: 400;
  font-size: 1.1rem;
  line-height: 27px;
  color: #4f4f4f;
}
.contact {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}
#want_to_contact {
  font-style: normal;
  font-weight: 400;
  font-size: 0.9rem;
  line-height: 14px;

  color: #828282;
}
#input_container {
  width: 25%;
  display: flex;
  border-radius: 0.5rem;
  justify-content: space-between;
  background-color: #f2f2f2;
  border-radius: 0.2rem;
}

#email_input_box {
  background-color: transparent;
  width: 80%;
  padding-left: 3%;
  border: none;
}
#join_button {
  background-color: #2d9cdb;
  border-radius: 0.5rem;
  width: 25%;
  margin: 0.5%;
  font-size: 1rem;
  border: none;
  line-height: 2rem;
}

/* Service container */
#service {
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
  margin: 0% 5%;
}

#services_title {
  font-family: 500;
  width: 30%;
}
#services_title p {
  margin: 0 auto;

  font-size: 2.2rem;
}

#services {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  flex-direction: row;
  justify-content: space-around;
}

.service_type {
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
  width: 27%;
  margin: 0;
  padding: 1% 3%;
}

.service_type:hover {
  border-radius: 1rem;
  box-shadow: 0px 0px 10px lightgray;
}

.service_name {
  font-weight: 700;
  font-size: 1.5rem;
}

.png_s {
  display: flex;
  height: 50px;
  width: 50px;
  align-items: center;
  justify-content: center;
  border-radius: 0.6rem;
  padding: 0.5%;
}

#pen_png {
  background-color: aqua;
}
#brase_png {
  background-color: lightgreen;
}
#stack_png {
  background-color: orange;
}
.service_text {
  font-weight: 400;
  font-size: 1rem;
  width: 99%;
}
.get_started_button {
  width: auto;
  min-width: 110px;
  max-width: 130px;
  border-radius: 0.5rem;
  border: none;
  padding: 0.3rem;
  line-height: 28px;
}
.get_started_button:hover {
  background-color: rgb(118, 188, 232);
}

/* work section */
#work {
  display: flex;
  flex-direction: column;
  margin: 0% 5%;
  row-gap: 2rem;
  width: 90%;
}

#work_text {
  font-weight: 500;
  font-size: 2rem;
  width: 30%;
}

#work_container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
}

.work_image_container {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
  width: 49%;
}

.work_img {
  width: 100%;
  border-radius: 1.15rem;
}

.technology_used {
  font-weight: 300;
  font-size: 0.9rem;
  color: #828282;
}

.products {
  font-weight: 500;
  font-size: 1.5rem;
  padding: 0px;
}
.wic1,
.wic3 {
  margin-top: 10rem;
}

#work {
  position: relative;
}
.see_more {
  position: absolute;
  right: 0;
  color: #2d9cdb;
  line-height: 1rem;
  bottom: 0.1rem;
  font-size: 1rem;
}

.see_more:hover {
  font-weight: 600;
}

/* Team section style */

#team {
  width: 90%;
  display: flex;
  row-gap: 5%;
  justify-content: space-between;
  margin: 0% 5%;
}
#team_text_container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 35%;
}
#meet_the_team {
  width: 90%;
  margin: 0;
  font-weight: 500;
  font-size: 18px;
  color: #eb5757;
}
#we_are_chilled {
  width: 90%;
  margin: 0;
  font-weight: 500;
  line-height: 54px;
  color: #333333;
}
#team_detail_text {
  width: 90%;
  font-weight: 400;
  color: #4f4f4f;
}

#team_img_container {
  width: 60%;
  display: flex;
  justify-content: space-between;
}

#girl_image {
  display: flex;
  align-items: center;
  width: 48%;
}
#men_images {
  width: 48%;
  display: flex;
  flex-direction: column;
  row-gap: 0.8rem;
  justify-content: center;
}
#girl {
  width: 100%;
  border-radius: 0.6rem;
}
#man1 {
  width: 90%;
  border-radius: 0.6rem;
  margin: 1%;
}
#man2 {
  width: 100%;
  border-radius: 0.6rem;
  margin: 1%;
}

.font_36px {
  font-size: 36px;
  font-weight: 500;
}

/* client section  */

#client {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  margin: 0% 5%;
  width: 90%;
}

#client_comment {
  width: 80%;
  margin: 0;
  font-style: normal;
  font-weight: 500;
  font-size: 2.25rem;
  color: #333333;
}

#client_details {
  width: 35%;
  display: flex;
  column-gap: 1.5rem;
  justify-content: start;
}
#client_img_container {
  width: 25%;
}

#client_img {
  width: 100%;
  min-width: 70px;
  max-width: 120px;
  border-radius: 1.15rem;
}
#detail {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
#client_name {
  font-weight: 500;
  font-size: 1.5rem;
  font-weight: 500;
  color: #333333;
  margin: 0;
}

#client_designation {
  font-weight: 500;
  font-size: 1.1rem;
  font-weight: 500;
  margin: 0;
  font-size: 18px;
  color: #828282;
}

/* footer section */

footer {
  height: auto;
  width: 100%;
  margin: 0px;
  background-color: black;
  color: white;
  display: flex;
  row-gap: 1rem;
  flex-direction: column;
}

#footer_top {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 2%;
}

#section_links2 {
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  row-gap: 0.1rem;
}
.links2 {
  text-decoration: none;
  color: white;
  font-size: 1.1rem;
  font-weight: 400;
}
.links2:hover {
  font-weight: 800;
}
#social {
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
#social_name {
  font-size: 2.2rem;
  font-weight: 800;
  margin: 0px;
  font-family: "Heebo", sans-serif;
}
#social_icons {
  margin-top: 5%;
}

#contact {
  width: 25%;
  display: flex;
  flex-direction: column;
}
#contact_text {
  font-weight: 500;
  font-size: 0.9rem;
  color: #f2f2f2;
  padding: 0.2rem 0;
}

#input_container2 {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: #f2f2f2;
  border-radius: 0.5rem;
}

#footer_email_input {
  padding: 0.5rem;
  padding-right: 0;
  width: 100%;
  background-color: transparent;
  border: none;
}
#email_join_button {
  background-color: #2d9cdb;
  border-radius: 0.5rem;
  margin: 0.5%;
  font-size: 1rem;
  width: 30%;
  min-width: auto;
  border: none;
}

#footer_bottom {
  text-align: center;
  color: #f2f2f2;
  font-size: 0.9rem;
  padding: 2%;
}
#footer_bottom p {
  margin: 0;
  font-weight: 500;
}

@media only screen and (max-width: 1000px) {
  header {
    margin-top: 1rem;
  }
  body {
    row-gap: 1.5rem;
  }
  #section_links {
    width: 80%;
  }
  .home_contents {
    margin-left: 10%;
    width: 70%;
  }
  #input_container {
    width: 50%;
  }
  #services_title {
    width: 50%;
  }
  .service_type {
    width: 32%;
  }
  #team_text_container {
    width: 60%;
  }
  #work_text {
    width: 50%;
  }

  #we_are_chilled {
    width: 90%;
  }
  #team_detail_text {
    width: 90%;
  }

  #client_comment {
    width: 90%;
  }
  #client_details {
    width: 50%;
  }
  #section_links2 {
    min-width: 150px;
  }
  #social {
    min-width: 150px;
  }

  #contact {
    min-width: 200px;
  }
}

@media only screen and (max-width: 700px) {
  #section_links {
    display: none;
  }

  .dropdown {
    position: relative;
    display: inline-block;
  }
  .menu_option {
    display: none;
    position: absolute;
    flex-direction: column;
    flex-wrap: nowrap;
    border-radius: 0.5rem;
    width: 10rem;
    padding: 1rem;
    right: 1.5rem;
    top: 2rem;
    box-shadow: 0px 1px 10px rgb(161, 148, 148);
    background-color: rgb(246, 246, 246);
  }

  .menu_icon {
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    flex-direction: column;
  }

  .menu_icon span {
    width: 1.6rem;
    height: 0.3rem;
    margin: 0.15rem;
    background-color: black;
  }
  .dropdown:hover .menu_option {
    display: flex;
    row-gap: 1rem;
    align-items: center;
  }
}

@media only screen and (max-width: 500px) {
  body {
    margin: 0;
  }
  #quest,
  #tag {
    font-size: 2rem;
    font-weight: 500;
  }
  .home_contents {
    margin-left: 1%;
    margin-right: 1%;
    width: 90%;
  }
  #input_container {
    width: 100%;
  }
  #email_input_box {
    width: 100%;
  }
  #join_button {
    margin: 0.5%;
    font-size: 1rem;
    line-height: 2rem;
    border: none;
  }
  #services {
    row-gap: 1rem;
  }
  #service {
    margin: 1%;
  }
  #services_title {
    width: 95%;
  }
  .service_type {
    width: 90%;
  }
  #team {
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
  }

  #work {
    width: 100%;
    margin-top: 10%;
    margin-left: 0;
    margin-right: 2%;
  }
  #work_container {
    width: 100%;
    row-gap: 1rem;
  }
  #work_text {
    width: 100%;
  }

  .wic1,
  .wic3 {
    margin-top: 0%;
  }

  .work_image_container {
    min-width: none;
    width: 100%;
    margin-bottom: 10%;
  }
  .see_more {
    position: absolute;
    left: 0;
    line-height: 1rem;
    padding: 0.5rem;
    bottom: -2rem;
  }

  #team {
    row-gap: 1rem;
    margin: 0;
    margin-top: 1rem;
  }
  #we_are_chilled,
  #team_detail_text,
  #team_img_container,
  #team_text_container,
  #meet_the_team,
  #team_detail_text {
    width: 100%;
  }
  #client_comment {
    width: 100%;
    font-size: 1.5rem;
  }
  #client_name {
    font-size: 1.5rem;
  }

  #client_designation {
    font-size: 0.8rem;
  }
  #client_details {
    width: 100%;
  }
  #section_links2 {
    width: 80%;
    min-width: 150px;
  }
  #social {
    width: 80%;
    min-width: 150px;
  }
  #footer_top {
    flex-direction: column;
    align-items: center;
    row-gap: 2rem;
    padding-top: 5%;
  }
  #input_container2 {
    width: 90%;
    justify-content: flex-start;
  }
  #footer_bottom p {
    font-size: 0.8rem;
  }
  #contact {
    width: 80%;
  }
}
